/node_modules
/public/assets
/public/images
/public/photos
/public/pic
/public/files
/public/files
/public/img
/public/modern
/public/slick
/public/storage
/public/image-uploader
/public/per-fonts
/public/vendor
/public/prettify.min.js
/public/prettify.min.css
/public/robot.txt
/public/web
/public/js/app.js
/storage/*.key
/vendor
/.idea
/resources/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
*.jpg
*.png
*.gif
*.rar
*.zip
*.html


